.stage{
    text-align: center;
}

.square{
    width: 175px;
    height: 175px;
    border: 1px solid black;
    display: inline-block;
    background-color: rgb(31, 35, 37);
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F916";
    font-size: 130px;
    line-height: 155px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.x{
    position: relative;
}
.x:after{
    position: absolute;
    content: "\1F47D";
    font-size: 130px;
    line-height: 155px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}